<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthToken</key>
	<string>cULjlUDXtt1caoJFcmg6FN61O000DLsnhsiBc5HZJKDJb6p577</string>
	<key>OAuthTokenSecret</key>
	<string>dHjNsCuVlfFz4XLwFlk4Wdq9Bd8ayrB9iOZ1A9HPAuQ32Odpno</string>
	<key>OAuthConsumerKey</key>
	<string>BZq839sLlBOF4QGu85o2hdwqFvQ9dvbjPJ5rRoPH1aKO19l4wF</string>
	<key>OAuthConsumerSecret</key>
	<string>NDEeOA07WwejOhAkFjZQ0Lqx8IpZnWWIEBV8TJSvgQcLYCpu34</string>
	<key>BlogName</key>
	<string>brydev</string>
	<key>EmailAddress</key>
	<string>bryan@bryanirace.com</string>
	<key>Password</key>
	<string>tumblrdev</string>
</dict>
</plist>
